<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mapper.contractinfoMapper">
	<resultMap type="contractinfo" id="contractinfomapper">
		<id column="contractNo" property="contractNo"></id>
		<result column="contractState" property="contractState"></result>
		<result column="contractSignDate" property="contractSignDate"></result>
		<result column="contractSignTime" property="contractSignTime"></result>
		<result column="contractPrice" property="contractPrice"></result>
		<association property="roomNo" javaType="cn.com.bean.roominfo">
			<id column="roomNo" property="roomNo"></id>
			<result column="rooomAddress" property="rooomAddress"></result>
			<result column="roomCover" property="roomCover"></result>
			<result column="roomArea" property="roomArea"></result>
			<result column="roomPrice" property="roomPrice"></result>
		</association>
		<association property="buyer" javaType="cn.com.bean.userinfo">
			<id column="userNo" property="userNo"></id>
			<result column="userName" property="userName"></result>
			<result column="userPhone" property="userPhone"></result>
		</association>
		<association property="saler" javaType="cn.com.bean.userinfo">
			<id column="userNo" property="userNo"></id>
			<result column="userName" property="userName"></result>
			<result column="userPhone" property="userPhone"></result>
		</association>
	</resultMap>
	<select id="queryallweb" resultMap="contractinfomapper">
		SELECT
		c.*, buyer.userName,
		buyer.phone,
		saler.userName,
		saler.phone,
		r.*
		FROM
		contractinfo c,
		userinfo
		buyer,
		userinfo saler,
		roominfo r
		WHERE
		r.roomNo = c.roomNo
		AND
		buyer.userNo = c.buyer
		AND saler.userNo = c.saler
	</select>
	<select id="querycontractinfo" resultMap="contractinfomapper">
		SELECT
		c.*,
		buyer.userName,
		buyer.phone,
		saler.userName,
		saler.phone,
		r.*
		FROM
		contractinfo c,
		userinfo buyer,
		userinfo saler,
		roominfo r
		WHERE
		r.roomNo =
		c.roomNo
		AND buyer.userNo = c.buyer
		AND saler.userNo = c.saler
		AND
		c.contractNo = #{contractNo}
	</select>
	<select id="querycontractinfoapp" resultMap="contractinfomapper">
		SELECT
		c.*, buyer.userName,
		buyer.phone,
		saler.userName,
		saler.phone,
		r.*
		FROM
		contractinfo c,
		userinfo buyer,
		userinfo saler,
		roominfo r
		WHERE
		r.roomNo = c.roomNo
		AND buyer.userNo = c.buyer
		AND saler.userNo =
		c.saler
		AND c.contractNo = #{contractNo}
		<if test="type=0">
			AND saler.userNo=#{userNo}
		</if>
		<if test="type=1">
			AND buyer.userNo=#{userNo}
		</if>
	</select>
	<insert id="insertcontractinfo"
		parameterType="cn.com.bean.contractinfo">
		insert into contractinfo
		values(#{contractNo},#{contractState},#{contractSignDate},#{contractSignTime},#{contractPrice},#{buyer.userNo},#{saler.userNo},#{roomNo.roomNo})
	</insert>
	<update id="updatecontractinfo"
		parameterType="cn.com.bean.contractinfo">
		update contractinfo
		set
		contractState =#{contractState}
		,contractPrice=#{contractPrice},contractSignTime=#{contractSignTime}
		where contractNo=#{contractNo}
	</update>
</mapper>