<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mapper.roominfoMapper">

	<resultMap type="roominfo" id="roominfomapper">
		<id column="roomNo" property="roomNo"></id>
		<result column="roomTitle" property="roomTitle"></result>
		<result column="roomAddress" property="roomAddress"></result>
		<result column="roomCover" property="roomCover"></result>
		<result column="roomArea" property="roomArea"></result>
		<result column="roomPrice" property="roomPrice"></result>
		<result column="roomBackup" property="roomBackup"></result>
		<result column="roomType" property="roomType"></result>
		<result column="roomState" property="roomState"></result>
		<result column="roomDate" property="roomDate"></result>
		<result column="roomCheckDate" property="roomCheckDate"></result>
		<association property="userNo"
			javaType="cn.com.bean.userinfo">
			<id column="userNo" property="userNo"></id>
			<result column="userName" property="userName"></result>
			<result column="phone" property="phone"></result>
		</association>
	</resultMap>
	<insert id="insert" parameterType="cn.com.bean.roominfo">
		insert into roominfo
		values(#{roomNo},#{roomAddress},#{roomCover},#{roomArea},#{roomPrice},#{roomBackup},#{roomState},#{roomType},#{userNo.userNo},#{roomTitle})
	</insert>
	<update id="update" parameterType="cn.com.bean.roominfo">
		update roominfo
		<set>
			<if test="roomAddress !=null">
				roomAddress=#{roomAddress},
			</if>
			<if test="roomCover !=null">
				roomCover=#{roomCover},
			</if>
			<if test="roomArea > 0 and roomPrice!=null">
				roomArea=#{roomArea},
			</if>
			<if test="roomPrice > 0 and roomPrice!=null">
				roomPrice=#{roomPrice},
			</if>
			<if test="roomBackup != null">
				roomBackup=#{roomBackup},
			</if>
			<if test="roomState != null and roomState!=null">
				roomState=#{roomState},
			</if>
			<if test="roomType != null">
				roomType=#{roomType},
			</if>
			<if test="roomTitle != null">
				roomTitle=#{roomTitle},
			</if>
			<if test="roomCheckDate != null">
				roomCheckDate=#{roomCheckDate},
			</if>
		</set>
		where roomNo=#{roomNo}
	</update>
	<select id="queryallweb" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo
	</select>
	<select id="queryweb" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo and r.roomNo=#{roomNo}
	</select>
	<select id="queryuser" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo and r.userNo=#{userNo}
	</select>
	<select id="queryallapp" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo
		limit #{start} ,#{num}
	</select>
	<select id="queryuserapp" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo
		and
		u.userNo=#{userNo}
		limit #{start}
		,#{num}
	</select>
	<select id="searchroom" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo
		AND r.roomState = '0'
		and
		r.roomTitle like '%${roomTitle}%'
		limit #{start}
		,#{num}
	</select>
</mapper>