<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mapper.roominfoMapper">

	<resultMap type="roominfo" id="roominfomapper">
		<id column="roomNo" property="roomNo"></id>
		<result column="rooomAddress" property="rooomAddress"></result>
		<result column="roomCover" property="roomCover"></result>
		<result column="roomArea" property="roomArea"></result>
		<result column="roomPrice" property="roomPrice"></result>
		<result column="rooomBackup" property="rooomBackup"></result>
		<result column="roomType" property="roomType"></result>
		<result column="roomState" property="roomState"></result>
		<association property="roomDevice"
			javaType="cn.com.bean.roomdevice">
			<id column="roomDevice" property="roomNo"></id>
			<result column="rooomAddress" property="rooomAddress"></result>
			<result column="bed" property="bed"></result>
			<result column="fridge" property="fridge"></result>
			<result column="conditioning" property="conditioning"></result>
			<result column="washer" property="washer"></result>
			<result column="tv" property="tv"></result>
			<result column="intelnet" property="intelnet"></result>
			<result column="sofa" property="sofa"></result>
			<result column="cook" property="cook"></result>
			<result column="wardrobe" property="wardrobe"></result>
			<result column="balcony" property="balcony"></result>
			<result column="centralheating" property="centralheating"></result>
			<result column="waterheater" property="waterheater"></result>
			<result column="toilte" property="toilte"></result>
		</association>
		<association property="userNo" javaType="cn.com.bean.userinfo">
			<id column="userNo" property="userNo"></id>
			<result column="userName" property="userName"></result>
			<result column="phone" property="phone"></result>
		</association>
	</resultMap>
	<insert id="insert" parameterType="cn.com.bean.roominfo">
		insert into roominfo
		values(#{roomNo},#{rooomAddress},#{roomCover},#{roomArea},#{roomPrice},#{rooomBackup},#{roomState},#{roomType},#{userNo.userNo})
	</insert>
	<update id="update" parameterType="cn.com.bean.roominfo">
		update roominfo
		set
		rooomAddress=#{rooomAddress},roomCover=#{roomCover},roomArea=#{roomArea},roomPrice=#{roomPrice},rooomBackup=#{rooomBackup},roomState=#{roomState},roomType=#{roomType}
		where roomNo=#{roomNo}
	</update>
	<select id="queryallweb" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo
	</select>
	<select id="queryweb" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo and r.roomNo=#{roomNo}
	</select>
	<select id="queryuser" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo and r.userNo=#{userNo}
	</select>
	<select id="queryallapp" resultMap="roominfomapper">
		SELECT u.*,r.* from userinfo
		u,roominfo r
		where u.userNo=r.userNo
		<if test="roomState!=0">
			roomState=#{roomState}
		</if>
		<if test="roomType!=0">
			roomType=#{roomType}
		</if>
	</select>
</mapper>